* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Nunito", "Arial", sans-serif;
    font-weight: 400;
    background-color: #e5e5e5;
    letter-spacing: 0.32px;
}

.site-main {
    flex-grow: 1;
}

img {
    display: block;
    height: auto;
}

