@use "../variables";
@use "../mixins"; 

.site-header {
    padding-top: 35px;
    padding-bottom: 80px;
}

.site-header__wrapper {
    @include mixins.flexbox(row, center, space-around);
}

.site-header__btn {
    width: 24px;
    height: 24px;
    background-image: url("/images/mode-controller.svg");
    background-size: cover;
    background-color: transparent;
    border: none;
}

.site-header__menu {
    width: 26px;
    height: 26px;
    background-image: url("/images/menu.svg");
    background-color: transparent;
    border: none;
}

.nav {
    display: none;
}

.nav__list {
    @include mixins.list-reset;
}

.nav__items:not(:last-child) {
    margin-right: 10px;
}

.nav__link {
    display: inline-block;
    font-size: 18px;
    line-height: 155%;
    font-weight: var(--main-font-weight);
    letter-spacing: 0.18px;
    color: #fff;
    text-decoration-line: none;
    transition: color 0.4s ease;
}

.nav__link:hover {
    opacity: 0.5;
    text-decoration: underline;
}

@media only screen and (min-width: 689px) {
    .site-header__btn {
        order: 2;
    }

    .site-header__menu {
        display: none;
    }

    .nav {
        display: block;
        margin-right: 30px;
        margin-left: auto;
    }

    .nav__list {
        @include mixins.flexbox(row, center, flex-start);
    }
}

@media only screen and (min-width: 992px) {
    .nav__items:not(:last-child) {
        margin-right: 40px;
    }
}