@use "../variables";
@use "../mixins";

.hero {
    background-image: url("/images/her-bg-light-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}